*{
    box-sizing: border-box;
}

body {
    font-family: 'Lora', sans-serif;
    height: 180vh;
  
}

.container{
    background-color: #121212;
    width: 700px;
    color: #ffffff;
    margin: auto;
    padding: 50px;
    border: 5px solid #6666;
    border-radius: 10px;

    /*margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;*/
}

.area{
    position: fixed;
    width: 200px;
    height: 80px;
   background-color: aqua;
   
}

 
