*{
    padding: 0;
    margin: 0;                                           /* aplicando o reset*/
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;  /* usando as fontes*/
}

.nav {
   background-color: #121212;
   height: 80px;
   width: 100%;                             /*estilizando o nav*/
   display: flex;                           /*ativando o flex box*/
   justify-content: flex-end;               /*colocando os itens pro final*/
}

.list-1 {
    display: flex;                  /*colocando os itens em linha*/
    align-items: center;            /*alinhando os itens no centro*/
    list-style: none;               /*tirando as bolinhas entre eles*/
    margin-right: 28px;
}

.list-1 a{                          /*estilizando os textos dentro do nav*/
    text-decoration: none;          /*tirando a linha debiaxo dos nomes*/
    color: #ddd;                  /*mudando a cor do texto*/
    padding: 20px;                  /*colocando um espaçamento INTERNO entre eles*/
}

.list-1 a:hover {                   /*acessando os nomes - acessando a ancora - hover ao passar o mouse*/
    color: #ffd700;
}
        /*INICIO MAIN*/











